<!--index.html-->
{% extends 'layout.html' %}

{% block body %}

{% with messages = get_flashed_messages()  %}
    {% if messages %}
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
  <div class="container">
    <h1>SIATH</h1>
    <div class="info-container">
      <p>
          En esta aplicación, utilizamos una técnica llamada <strong>ontología difusa</strong> para encontrar docentes que se ajusten a ciertos criterios específicos, como habilidades y experiencia.
      </p>
      <p>
          La ontología difusa es una herramienta poderosa en la inteligencia artificial que nos permite manejar la incertidumbre y la imprecisión en nuestros datos, lo que es especialmente útil cuando tratamos con características humanas que no son fácilmente cuantificables.
      </p>
      <p>
          Utiliza los enlaces y formularios proporcionados para navegar por la aplicación y encontrar a los docentes que necesitas para tus proyectos.
      </p>
    </div>

    <!-- Aquí puedes agregar más contenido según sea necesario -->

</div>
  {% endblock %}
