<!--index.html-->
{% extends 'layout.html' %}

{% block body %}
{% with messages = get_flashed_messages()  %}
    {% if messages %}
        {% for message in messages %}
        <!--p>{{ message }}</p-->
        {% endfor %}
    {% endif %}
{% endwith %}
  <div class="container">
    
    <h1>SIATH</h1>
    <div class="info-container">
      <p>
          En esta aplicación, utilizamos una técnica llamada <strong>ontología difusa</strong> para encontrar docentes que se ajusten a ciertos criterios específicos, como habilidades y experiencia.
      </p>
      <p>
        De acuerdo con (Bishara & Rukhaia, 2020) “Las ontologías difusas (Fuzzy) son ontologías donde la información es vaga e imprecisa, se obtienen integrando lógica difusa con ontologías y se utilizan en diversos campos como la medicina, la biología y el comercio electrónico.” 
      </p>
      <!--p>
        La ontología fuzzy es un marco teórico y metodológico que se utiliza en diversas áreas para modelar la incertidumbre y la imprecisión inherentes a muchos fenómenos del mundo real. En esencia, se basa en la lógica difusa para representar y manejar información imprecisa, ambigua o no completamente definida. Este enfoque permite capturar y procesar la vaguedad y la falta de precisión presentes en muchos dominios, como la gestión de recursos humanos, donde las características de los individuos y las decisiones sobre su asignación y desarrollo pueden ser difíciles de definir de manera exacta (Ramírez Figueroa, 2022).
      </p-->
    </div>

    <!--div class="info-container">
      <p style="font-size: 50px;">
        Actualice sus datos e ingrese sus habilidades
      </p>
    </div-->

    <!-- Aquí puedes agregar más contenido según sea necesario -->

</div>
  {% endblock %}
