<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login y Register - MagtimusPro</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <main>
        <div class="contenedor__todo">
            <img src="{{ url_for('static', filename='images/UgHorizontalColor.svg') }}" alt="Logo" class="logo">
            <div class="caja__trasera">
                <div class="caja__trasera-login">
                    <h3>¿Ya tienes una cuenta?</h3>
                    <p>Inicia sesión para entrar en la página</p>
                    <button id="btn__iniciar-sesion" onclick="showLogin()">Iniciar Sesión</button>
                </div>
                <div class="caja__trasera-register">
                    <h3>¿Aún no tienes una cuenta?</h3>
                    <p>Regístrate para que puedas iniciar sesión</p>
                    <button id="btn__registrarse" onclick="showRegister()">Regístrarse</button>
                </div>
            </div>
            <div class="contenedor__login-register">
                <!--Flash Messages-->
                {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    <ul class="flashes">
                      {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                {% endwith %}
                <!--Login-->
                <form action="/login" method="post" class="formulario__login" id="login-form">
                    <h2>Iniciar Sesión</h2>
                    <input type="text" name="email" placeholder="Correo Electronico" required>
                    <input type="password" name="password" placeholder="Contraseña" required>
                    <button type="submit">Entrar</button>
                </form>
                <!--Register-->
                <form action="/registeruser" method="post" class="formulario__register" id="register-form">
                    <h2>Regístrarse</h2>
                    <input type="text" name="name" placeholder="Nombre completo" required>
                    <input type="text" name="email" placeholder="Correo Electronico" required>
                    <input type="text" name="username" placeholder="Usuario" required>
                    <input type="password" name="password" placeholder="Contraseña" required>
                    <button type="submit">Regístrarse</button>
                </form>
            </div>
        </div>
    </main>
    <script>
        function showLogin() {
            document.getElementById('login-form').style.display = 'block';
            document.getElementById('register-form').style.display = 'none';
        }
        function showRegister() {
            document.getElementById('login-form').style.display = 'none';
            document.getElementById('register-form').style.display = 'block';
        }
    </script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
